.footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
    & a {
        font-style: normal;
    }
}
.footer__gen {
    @media screen and (max-width: 1199.33px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    }
}
.footer__flex-ico {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: 767.33px) {
        flex-direction: column;
    }
    @media screen and (min-width: 768px) {
        align-items: flex-start;
    }
}

.footer-list {
    @media screen and (max-width: 1199.33px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
    }
    @include comp {
        margin-top: 20px;
        margin-right: 70px;
    }
    
}
.communication {
line-height: 1.71;
    min-width: 231px;

    &>li:not(:last-child) {
        margin-bottom: 9px;
    }
}
.communication__adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.communication__link {
    
    display: block;
    font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
        cursor: pointer;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            color: var(--general-color);
        }
}
.footer__join{
    @media screen and (max-width: 1199.33px) {
        display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    }
    @media screen and (max-width: 767.33px) {
        margin-bottom: 60px;
    }
    @media screen and (min-width: 1200px) {
        padding-top: 12px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.33px) {
        margin-left: 165px;
    }
    
}
.join__text {
    margin-bottom: 20px;
    font-size: 14px;
    font-style: normal;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
}

.join__list-icon {
    display: flex;
}
.join__icon:not(:last-child) {
    margin-right: 10px;
}
.join__icon-link {
    display: block;
    width: 44px;
    height: 44px;
    fill: #ffffff;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
            background-color: var(--general-color);
        }
}

.footer__mailing {
    @media screen and (max-width: 1199.33px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    @include comp {
            margin-left: 89px;
            padding-top: 12px;
    }

}
.mailing__text {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.footer__form {
    display: flex;
    @media screen and (max-width: 1199.33px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.mailing__input {
    width: 450px;
    height: 50px;
    padding: 15px 16px;
    background-color: rgba(0, 0, 0, 0.0);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
    &:hover,
    &:focus {
            outline: 0px;
        }
    @media screen and (max-width: 479.33px) {
        width: auto;
    }    
    @include comp {
        margin-right: 12px;
        width: 358px;
    }
}

.mailing__button-container {
    display: inline-block;
    position: relative;
    @media screen and (max-width: 1199.33px) {
        margin-top: 20px;
    }
}
.mailing__icon {
    position: absolute;
    top: 50%;
    right: 28px;
    transform: translateY(-50%);
    pointer-events: none;
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


