.team {
    background-color: #f5f4fa;
    padding-bottom: 94px;
    padding-top: 94px;
   & h2 {
            font-weight: 700;
            font-size: 36px;
            line-height: calc(42 / 36);
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            margin-bottom: 50px;
        }
   & h3 {
            font-weight: 500;
            font-size: 16px;
            line-height: calc(19 / 16);
            text-align: center;
            letter-spacing: 0.03em;
            color: #212121;
            margin-top: 30px;
            margin-bottom: 10px;
        }
    & p {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}
}
.team__list {
    display: flex;
    & > li:not(:last-child) {
            margin-right: 30px;
        }
}

.team__image {
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-bottom: 30px;
}



.team__unordered-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.team__list-icon:not(:last-child) {
    margin-right: 10px;
}

.team__icon-link {
    display: block;
    width: 44px;
    height: 44px;
    fill: #afb1b8;
    border-radius: 50%;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            fill: #ffffff;
            background-color: var(--general-color);
    
        }
}

